.stats-section {
  padding: 50px 0;
  background: linear-gradient(to bottom, #1E3A51, #182F42, #132735);
  overflow: hidden;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stat-item {
  text-align: center;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-sizing: border-box;
}

.stat-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.stat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin: 0 auto 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.stat-icon:hover {
  background-color: #132735;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.stat-icon-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: var(--logo-beige);
}

.stat-icon-img img {
    max-width: 70%;
    max-height: 70%;
    display: block;
}


.stat-number {
  font-size: 3rem;
  font-weight: 900 !important;
  color: #fff;
  margin-bottom: 8px;
  line-height: 1;
  letter-spacing: 0.02em;
}

.stat-text {
  font-size: 1.1rem;
  color: var(--logo-beige);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700 !important;
}

@media (max-width: 992px) {
  .stats-section {
      padding: 40px 0;
  }

  .row {
      justify-content: space-around;
  }

  .col-md-3.col-sm-6 {
    width: calc(50% - 30px);
    max-width: calc(50% - 30px);
    margin-bottom: 30px;
    margin-right: 30px;
    display: inline-block;
  }

  .col-md-3.col-sm-6:nth-child(even) {
    margin-right: 0;
  }

  .stat-item {
    padding: 15px;
    margin-bottom: 0;
    display: block;
  }

  .stat-number {
    font-size: 2.4rem;
  }
  .stat-text {
    font-size: 0.9rem;
  }
  .stat-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
  }
   .stat-icon-img {
    width: 30px;
    height: 30px;
  }
}