.team-page {
  font-family: 'Poppins', sans-serif;
  background-color: var(--header-bg);
  padding-top: 0;
  padding-bottom: 40px;
  overflow-x: hidden;
}

.team-page .container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 992px) {
  .team-page {
      padding-bottom: 30px;
  }

  .team-page > section {
      padding-top: 60px;
      padding-bottom: 60px;
  }

  .team-page .container {
      padding-left: 10px;
      padding-right: 10px;
  }
}
