.text-marquee-container {
  background-color: #CBA174;
  color: #ffffff;
  font-weight: 700px !important;
  padding: 10px 0;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
  white-space: nowrap;
  position: relative;
}

.text-marquee {
  display: flex;
  flex-direction: row;
  width: auto;
  animation: seamlessTextMarquee 20s linear infinite;
}

.text-marquee-content {
  font-size: 2.2em;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin: 0;
  flex-shrink: 0;
  width: auto;
  padding-right: 20px;
}

@keyframes seamlessTextMarquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 992px) {
  .text-marquee-content {
    font-size: 1.8em;
  }
}