:root {
  --logo-white: #FFFFFF;
  --font-forum: 'Forum', serif;
  --logo-beige: #CBA174;
}

.page-header.parallaxie {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.page-header.parallaxie.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.page-header.parallaxie::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.page-header .container {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-header-box h1 {
  font-size: 5rem;
  color: var(--logo-white);
  font-family: var(--font-forum);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  font-weight: 900 !important;
  animation: fadeInUp 2s ease-in-out;
}

.breadcrumb {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  animation: fadeInUp 2s ease-in-out;
}

.breadcrumb-item,
.breadcrumb-item a {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700 !important;
  animation: fadeInUp 2s ease-in-out;
}

.breadcrumb-item.active {
  color: #CBA174 !important;
  font-weight: 700 !important;
  animation: fadeInUp 2s ease-in-out;
}

.breadcrumb-item:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.breadcrumb-item.active:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 992px) {
  .page-header.parallaxie {
      height: 100vh;
  }

  .page-header-box h1 {
      font-size: 3.5rem;
  }
}